$padding: 0.25em;
$gutter: 1em;

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    &-content {
        padding: $gutter;
        width: calc(80% - ($gutter * 2));
        height: calc(80vh - ($gutter * 2));
        margin: 10vh $gutter;
        background-color: rgba(#fff, 0.8);
        border-radius: 5px;
    }
}

.has-text-centered {
    text-align: center;
}

.is-clickable {
    cursor: pointer;
}

.is-flex {
    display: flex;
}

.button {
    border-radius: 5px;
    padding: 0.25em 0.5em;
    font-size: 22px;
    background: none;
    border: 1px solid #efefef;
}

.cols {
    margin-left: -($gutter/2);
    margin-right: -($gutter/2);
    display: flex;
    &.is-wrappable {
        flex-wrap: wrap;
    }
    &:after, &:before, * {
        box-sizing: border-box;
    }
    .col {
        padding: $gutter/2;
        display: block;
        flex: none;
        // flex-basis: 0;
        // flex-grow: 1;
        // flex-shrink: 1;
        // TODO: Work these into a looping sass method
        &.is-3 {
            width: percentage(1 / (12/3));
        }
    }
}
