// SmithCSS Framework v1.0 for Ilume demo

* {
    box-sizing: border-box;
}

// Colours 

.is-light {
    color: #efefef;
}

.is-green {
    color: $green;
}

// Typographic Alignment

.has-text-centered {
    text-align: center;
}

.has-text-left {
    text-align: left;
}

// Form

.input {
    font-family: 'Courier New', Courier, monospace;
    padding: 0 0.5em;
    min-width: 150px;
    height: 32px;
    border: 1px solid #efefef;
    border-radius: 5px;
    background: white;
    &:focus {
        outline: none;
    }
}

// Positioning system

.is-inline-flex {
    display: inline-flex;
}

.is-relative {
    position: relative;
}

.is-absolute {
    position: absolute;
}

.is-fixed {
    position: fixed;
}

// Flex

.is-flex {
    display: flex;
}

.is-flex-spread {
    justify-content: space-between;
}

.is-flex-centered {
    justify-content: center;
}

.is-flex-level {
    align-items: center;
}


// Buttons

.button {
    border-radius: 5px;
    padding: 0.25em 0.5em;
    font-size: 1.4em;
    border: 1px solid #dedede;

    &.is-smaller {
        font-size: 0.9em;
        padding: 0.25em 0.5em;
    }

    &.is-medium {
        font-size: 1em;
        padding: 0.25em 0.5em;
    }

    &.is-plain {
        border: none;
        background: none;
    }

    &.is-padless-h {
        padding: 0.5em 0;
    }
}

.is-clickable {
    cursor: pointer;
}

// Grid

.cols {
    margin-left: -0.5em;
    margin-right: -0.5em;
    display: flex;
    &.is-wrappable {
        flex-wrap: wrap;
    }
    &:after, &:before, * {
        box-sizing: border-box;
    }
    .col {
        padding: 0.5em;
        display: block;
        flex: none;
        // TODO: Work these into a looping sass method
        &.is-3, &.is-quarter {
            width: 25%;
        }
        &.is-4, &.is-third {
            width: 33.33%;
        }
        &.is-6, &.is-half {
            width: 50%;
        }
    }
}

// Modals

.modal {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    &-content, &.modal-content {
        z-index: 4;
        padding: $gutter;
        height: calc(80vh - 2em);
        width: calc(100% - 2em);
        margin: 10vh auto;
        background-color: #fff;
        border-radius: 5px;
    }
}
