// Breakpoints
$mobile: 768px;
$tablet: 1024px;
$desktop: 1980px;

// Colours
$dark: #333;
$light: #efefef;
$green: greenyellow;

// Elements
$footerHeight: 200px;

// Spacing
$padding: 0.25em;
$gutter: 1em;

// Fonts
$headingFont: 'Get Schwifty', Arial, "sans-serif";
$bodyFont: 'Get Schwifty', Arial, "sans-serif";
