/* SmithCSS Theme */

// Includes
@import "./reset.meyer";
@import "./variables";
@import "./helpers";
@import "./fonts";
@import "./transitions";
@import "./animations";

// Defaults
#app {
    font-family: $bodyFont;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

// Credit https://codepen.io/P1N2O/pen/pyBNzX
body {
	background: linear-gradient(-45deg, #2aee44, #70022c, #23a6d5, #000807);
	background-size: 400% 500vh;
	animation: gradient 12s ease infinite;
}

// Content wrappers
.container {
    section {
        max-width: 1024px;
        margin: 0 auto;
    }

    @media (min-width: 0) and (max-width: 767px) {
        padding: 0 0.5em;
        section {
            margin-top: 6em;
            margin-bottom: 5em;
        }
    }
    @media (min-width: 768px) and (max-width: 1023px) {
        padding: 0 1em;
        section {
            margin-top: 6em;
            margin-bottom: 5em;
        }
    }
    @media (min-width: 1024px) and (max-width: 1980px) {
        padding: 0 3em;
        section {
            margin-top: 6em;
            margin-bottom: 5em;
        }
    }
}

section {
  height: calc(100vh - 200px);
}