/* App Theme */

// Breakpoints
$mobile: 768px;
$tablet: 1024px;
$desktop: 1980px;

// Colours
$dark: #333;
$light: #efefef;

// Fonts
$headingFont: Arial, 'sans-serif';
$bodyFont: Arial, 'sans-serif';

// Defaults
#app {
    font-family: $bodyFont;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}
